`# Visual Studio
.vs/
*.vcxproj*
*.sln
*.user
*.aps
*.ncb
*.opendb
*.tlog
*.log
*.suo
*.ipch
*.pdb
*.idb
*.ilk
*.cache
*.db

# Ignore build and output folders
build/

# VS Code
.vscode/

# macOS
.DS_Store
